<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <!-- <ion-menu-button color= "newWhite"></ion-menu-button> -->
	 <ion-button color="newWhite" (click)="toggleMenu()">
		<ion-icon name="menu" slot="icon-only"></ion-icon>
	 </ion-button>
    </ion-buttons>
	<ion-buttons slot="end">
		<ion-icon name="add" slot= "icon-only" size="large" color= "newWhite" [routerLink] = "['/new-motivation']"></ion-icon>
	</ion-buttons>
	<ion-title class = "float-right" color= "newWhite" [routerLink] = "['/new-motivation']">
		New Motivation
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding [ngClass] = "getBackground()">
	<p id="MyClockDisplay"></p> 
	<p id="Current">Most Current Motivations</p>
	<!--<p id="Clear">No Pending Motivations! Have a good day!</p>  This should appear when there are no pending motivations-->
	<!-- <p id="No">You have no Motivations Currently... Lets make some!</p> This should appear when there are no motivations in the database-->
	<!-- Insert boxes for 3 triggered motivations -->
	<ion-grid [ngClass] = "getBackground()">
		<ion-row>
			<ion-col>
				<div id="Name" [ngClass] = "getBackground()">
					Drink Water
				</div>
			</ion-col>
			<ion-col id="Date">
				<div id="Date" [ngClass] = "getBackground()">
					04/24/2019
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size = "3">
				<div id="Time" [ngClass] = "getBackground()">
					12:00 PM
				</div>
			</ion-col>
			<ion-col>
				<ion-button id="Later" [color]= "getActive() ? 'warning' : 'grey'" size="small">Maybe Later...</ion-button>
				<ion-button id="DidIt" color= "newGreen" size="small">I Did it!</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid [ngClass] = "getBackground()">
		<ion-row>
			<ion-col>
				<div id="Name" [ngClass] = "getBackground()">
					Workout
				</div>
			</ion-col>
			<ion-col id="Date">
				<div id="Date" [ngClass] = "getBackground()">
					04/24/2019
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size = "3">
				<div id="Time" [ngClass] = "getBackground()" >
					8:00 AM
				</div>
			</ion-col>
			<ion-col>
				<ion-button id="Later" [color]= "getActive() ? 'warning' : 'grey'" size="small">Maybe Later...</ion-button>
				<ion-button id="DidIt" color= "newGreen" size="small">I Did it!</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-grid [ngClass] = "getBackground()">
		<ion-row>
			<ion-col>
				<div id="Name" [ngClass] = "getBackground()">
					Take Medication
				</div>
			</ion-col>
			<ion-col id="Date">
				<div id="Date" [ngClass] = "getBackground()">
					4/24/2019
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col size = "3">
				<div id="Time" [ngClass] = "getBackground()" >
					7:00 AM
				</div>
			</ion-col>
			<ion-col>
				<ion-button id="Later" [color]= "getActive() ? 'warning' : 'grey'" size="small">Maybe Later...</ion-button> 
				<ion-button id="DidIt" color= "newGreen" size="small">I Did it!</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
