<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
	<ion-buttons slot="end">
		<ion-icon name="add" slot= "icon-only" size="large" [routerLink] = "['/new-motivation']"></ion-icon>
	</ion-buttons>
	<ion-title>
		Menu
    </ion-title>
	<ion-title class = "float-right">
		New Motivation
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen> <!-- "fullscreen" makes header translucent, but also makes buttons disappear --> 
	<ion-label id="MyClockDisplay" class="clock">Test if Works</ion-label>
	<script>
		function showTime(){
			var date = new Date();
			var h = date.getHours(); // 0 - 23
			var m = date.getMinutes(); // 0 - 59
			var session = "AM";
			
			if(h == 0){
				h = 12;
			}
			
			if(h > 12){
				h = h - 12;
				session = "PM";
			}
			
			h = (h < 10) ? "0" + h : h;
			m = (m < 10) ? "0" + m : m;
			
			var time = h + ":" + m + " " + session;
			document.getElementById("MyClockDisplay").innerText = time;
			document.getElementById("MyClockDisplay").textContent = time;
			
			setTimeout(showTime, 1000);
			
		}

		showTime();
	</script>
</ion-content>
