
ion-content {
	--background: url("../../assets/Sunset.png") no-repeat center center fixed;
	background-size: auto;

	}

ion-header::after {
	background-image: none;
}
ion-toolbar {
	--background: transparent;
	--ion-color-base: transparent !important;
}
ion-title {
	padding-top: 4px;
	font-size: 1em;
	display: inline-block;
}
.float-right {
	float: right;
}
#MyClockDisplay {
	font-size: 7em;
	text-align: center;
	color: #424242;
	text-shadow: 3px 2px 3px black;
	margin-top: 35px;
	margin-bottom: 16px;
}
#Current {
	font-size: 2em;
	text-align: center;
	color: #424242;
	font-weight: bold;
	margin-top: 16px;
}
#Clear {
	font-size: 1.5em;
	text-align: center;
	color: #424242;
	font-weight: bold;
	margin-top: 16px;
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


