<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
	<ion-buttons slot="end">
		<ion-icon name="add" slot= "icon-only" size="large" [routerLink] = "['/new-motivation']"></ion-icon>
	</ion-buttons>
	<ion-title>
		Menu
    </ion-title>
	<ion-title class = "float-right" [routerLink] = "['/new-motivation']">
		New Motivation
	</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<p id="MyClockDisplay">Test if Works</p>
	<p id="Current">Most Current Motivations</p>
	<p id="Clear">No Pending Motivations! Have a good day!</p> <!-- This should disappear when are no pending motivations, and change when there are no motivations -->
	<!-- Insert boxes for 3 triggered motivations -->
</ion-content>
