
ion-content {
	--background: url("../../assets/Sunset.png") no-repeat center center fixed;
	background-size: auto;

	}

ion-header::after {
	background-image: none;
}
ion-toolbar {
	--background: transparent;
	--ion-color-base: transparent !important;
}
.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


