<ion-header>
  <ion-toolbar>
    <ion-title>newMotivation</ion-title>
	 <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label>Default Motivations</ion-label>
			<ion-select placeholder="...">
				<ion-select-option value="water">Water</ion-select-option>
				<ion-select-option value="clean">Cleaning</ion-select-option>
				<ion-select-option value="dishes">Dishes</ion-select-option>
				<ion-select-option value="workout">Workout</ion-select-option>
				<ion-select-option value="meeting">Meeting</ion-select-option>
				<ion-select-option value="med">Medication</ion-select-option>
				<ion-select-option value="remind">Reminder</ion-select-option>
				<ion-select-option value="food">Food</ion-select-option>
				<ion-select-option value="zzz">Sleep</ion-select-option>
				<ion-select-option value="custom">Custom</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>When to Remind</ion-label>
			<ion-select placeholder = "Select One...">
				<ion-select-option value="month">Monthly</ion-select-option>
				<ion-select-option value="week">Weekly</ion-select-option>
				<ion-select-option value="day">Daily</ion-select-option>
				<ion-select-option value="bihour">Bi-hourly</ion-select-option>
				<ion-select-option value="once">Only Once</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>First Reminder</ion-label>
			<ion-datetime display-format="MMM DD, YYYY HH:mm" picker-format= "MMM DD YYYY HH:mm"></ion-datetime>
		</ion-item>
	</ion-list>
</ion-content>
