<ion-header>
  <ion-toolbar>
    <ion-title>New Motivation</ion-title>
	 <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label>Motivation Name: </ion-label> 
			<!-- What do you think this does? It's the Name... For the Motivation... What did you expect? -->
			<ion-input placeholder="..." inputmode="text" maxlength=20 required="true" [(ngModel)]="name" class="align-right" ></ion-input><!-- Tabs in the placeholder are they themselves placeholders, until proper SCC in implemented -->
		</ion-item>
		<ion-item>
			<ion-label>Motivation Types</ion-label>
			<ion-select placeholder="..." id="defaults" [(ngModel)]="selected" (ionChange)="setDefaults()">
				<ion-select-option value="water">Water</ion-select-option>
				<ion-select-option value="clean">Cleaning</ion-select-option>
				<ion-select-option value="dishes">Dishes</ion-select-option>
				<ion-select-option value="workout">Workout</ion-select-option>
				<ion-select-option value="meeting">Meeting</ion-select-option>
				<ion-select-option value="med">Medication</ion-select-option>
				<ion-select-option value="remind">Reminder</ion-select-option>
				<ion-select-option value="food">Food</ion-select-option>
				<ion-select-option value="zzz">Sleep</ion-select-option>
				<ion-select-option value="hw">Homework Assignment</ion-select-option>
				<!-- Types will change values below. Types will not be in Form Data -->
			</ion-select>

		</ion-item>
		<ion-item>
			<ion-label>When to Remind</ion-label>
			<ion-select placeholder = "Select One..." name="time" [(ngModel)]="remind" id="remind">
				<ion-select-option value="month">Monthly</ion-select-option>
				<ion-select-option value="week">Weekly</ion-select-option>
				<ion-select-option value="day">Daily</ion-select-option>
				<ion-select-option value="trihour">Every 3 Hours</ion-select-option>
				<ion-select-option value="bihour">Every 2 Hours</ion-select-option>
				<ion-select-option value="hour">Hourly</ion-select-option>
				<ion-select-option value="joke">Constant</ion-select-option>
				<ion-select-option value="once">Only Once</ion-select-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>First Reminder</ion-label> <!-- Time for the First, or only, Reminder -->
			<ion-datetime display-format="MMM DD, YYYY HH:mm" picker-format= "MMM DD, YYYY HH:mm"  [(ngModel)]="firstDate" [value]="firstRemind"></ion-datetime>
			<!--Dunno if "min" is working the way its supposed to. Needs testing when we submit forms--> <!--[min] = "getNow()"-->
		</ion-item>
		<ion-item>
			<ion-label>Remind Indefinitely?</ion-label> <!-- Turns on and off the "Stop Date" Item -->
			<ion-toggle checked="true" (ionChange)="stopDateToggle()" [(ngModel)]="indefToggle" [checked] = "alarmValue"></ion-toggle>
			<!-- In the database, we should have a way to N/A or void our "stop date" column -->
		</ion-item>
		<ion-item>
			<ion-label>Stop Date</ion-label> <!-- Date to Stop Reminders --> 
			<ion-datetime display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" [disabled]="enableAlarm"  [(ngModel)]="stopDate" [value]="lastRemind"></ion-datetime>
			<!--Dunno if "min" is working the way its supposed to. Needs testing when we submit forms--> <!--[min] = "getNow()"-->
		</ion-item>
		<ion-item *ngIf = "ringtonesList!=undefined  && ringtonesList.length > 0">
			<ion-label id="sound">Reminder Sounds</ion-label> <!-- Selector for the sounds that will play for the reminder. Will be split into our Items and the Devices --> 
			<ion-select placeholder="..." [(ngModel)]="sound"> <!-- getting an ERROR Error: "[Object Object]" Here -->
				<ion-select-option *ngFor = "let r of ringtonesList" [value] = "r.Url">{{ r.Name }}</ion-select-option>  
			</ion-select>
		</ion-item>
	</ion-list>
	<ion-button strong = true (click) = "addMotivation()">Get Motivated!</ion-button>
</ion-content>
<!-- Form Data will be
String name - Name of the Reminder
String time - How often to Remind
String firstDate - The First time and date to Remind, in ISO Format
Boolean indef - If Stop Date is applicable; True for no stop date, False for a stop date (Set Default stopDate in the case of True?)
String stopDate - The Date to stop this Reminder, in ISO Format. Will be null unless indef is false.
String Sound - The pathway(?) to the sound to play for Motivation
-->
